#userIcon {
  position: fixed;
  left: 40px;
  bottom: 40px;
  width: 75px;
  height: 75px;
  background-image: url('https://github.com/kikukick.png'); 
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

#userIcon:hover {
  transform: scale(1.1);
}
